.categories {
  &__wrapper {
    display: grid;
    row-gap: 40px;

    @include on-tablet {
      row-gap: 56px;
    }
  }

  &__view-all-link-wrapper {
    @include page-grid;

    margin-top: 40px;

    @include on-tablet {
      margin-top: 56px;
    }
  }

  &__view-all-link {
    display: flex;
    grid-column: 1 / -1;
    align-items: center;
    justify-content: center;

    box-sizing: border-box;
    height: 56px;
    border-radius: 8px;

    font-size: 16px;
    font-weight: 700px;
    line-height: 27px;
    text-decoration: none;

    @include button-color;

    @include on-desktop {
      grid-column: span 4;
    }
  }
}

.category {
  &__photos {
    @include page-grid;

    margin-bottom: 16px;
  }

  &__photo {
    position: absolute;
    transform-origin: center center;

    width: 100%;
    height: 100%;
    border: 2px solid transparent;
    border-radius: 8px;

    object-fit: cover;

    transition: all 0.2s;

    &:hover {
      transform: scale(1.02);
      border: 2px solid $main-color;

    }
  }

  &__link {
    position: relative;

    &--wide {
      @include on-tablet {
        grid-column: span 4;
      }

      @include on-desktop {
        grid-column: span 8;
      }
    }
    &--short {
      height: 0;
      padding-bottom: 100%;

      @include on-tablet {
        grid-column: span 2;
      }

      @include on-desktop {
        grid-column: span 4;
      }
    }
  }

  &__title {
    margin: 0;
    font-size: 18px;
    font-weight: 700;
    line-height: 140%;

    @include on-tablet {
      font-size: 18px;
    }
  }
}
