.main {
  &__splitter {
    height: 200px;

    background-image: url(../images/main_splitter.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    @include on-tablet {
      height: 400px;
    }

    @include on-desktop {
      height: 460px;
    }
  }
}
