.recommended {
  &__products {
    @include page-grid;

    row-gap: 40px;
  }

  &__product {
    grid-column: 1 / -1;
    align-self: stretch;

    @include on-tablet {
      grid-column: 1 / 7;
      row-gap: 56px;
    }

    @include on-desktop {
      grid-column: span 4;
    }
  }
}
